.hero{
    position: relative;
    display: inline-block;
}

.hero img{
    display: block;
    object-fit: cover;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.7), transparent);
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.main_body{
    height: auto !important;
    background-color: #f5f6f8 !important;
}

.card-icon{
    font-size: 2.5rem;
    display: block;
    margin: 0 auto 10px;
}

.main-body-cards{
    padding: 50px 10px;
}

.card{
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link{
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover{
    transform: translateY(-2px);
    color: black;
}

.navbar-nav .nav-link.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: #0dcaf0;
    border-radius: 2px;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 80%;
    margin: auto;
    background-color: white;
}

body{
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

.btn-custom{
    color: white;
    background-color: #0dcaf0;
    border: none;
    padding: 6px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.btn-custom:hover{
    background-color: #0dcaf0;
    color: white;
    transform: translateY(-2px);
}

.result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    min-width: 35%;
    width: auto;
    background-color: white;
}

.history-box table th {
    background: #f7f7f7;
}